<div class="col-12 p-0 pt-5 m-0 bg-light" id="contact">
    <div class="container">
        <div class="row col-12 m-0 p-0">
            <div class="col-md-6 m-0 p-0">
                <h3 class="font-roboto font-weight-bold lead">CONTACT US</h3>
                <hr class="w-10 bg-primary my-3 mb-4 ml-0" />
                
                <p>
                    Contact us about anything related to our company or services we'll do our best to get back to you as soon as possible.
                </p>
                <p>
                    <hr>
                    <span class="pr-2"><i class="fa fa-map-marker"></i></span>
                    Oakville ON, L6Y 2T8
                    <hr>
                    <span class="pr-2"><i class="fa fa-phone"></i></span>
                    416 445 5566
                    <hr>
                    <span class="pr-2"><i class="fa fa-envelope"></i></span>
                    abc@gmail.com
                </p>
            </div>
            <div class="col-md-6 m-0 px-2 form">
                <form class="form-group" method="" action="">
                    <div class="mb-2">
                        <label for="name">Name</label>
                        <input class="form-control" type="text" id="name" />
                    </div>
                    <div class="mb-2">
                        <label for="email">Email</label>
                        <input class="form-control" type="email" id="email" />
                    </div>
                    <div class="mb-2">
                        <label for="message">Message</label>
                        <textarea class="form-control" style="border-bottom: 2px solid #9e9e9e; height: 100px" type="text" id="message"></textarea>
                    </div>
                    <input type="submit" class="button-contact" />
                        
                </form>
                
            </div>
        </div>
    </div>
</div>

<br><br>