    <div class="footer col-12 m-0 p-0 pt-3 footer-custom" id="about">
        <div class="row col-md-9 mx-auto p-0">
            <div class="col-md-3 p-3">
                <h3 class="font-roboto text-white">About Us</h3>
                <p class="text-gray small">We are London's most unique bath and kitchen showroom, showcasing the latest in innovation and design. <br><br> It is our mission to provide our customers with the most suitable products to compliment their homes decor, as well as equipping them with the knowledge to make an informed product selection.</p>
            </div>
            <div class="col-md-3 p-3">
                <h3 class="font-roboto text-white">Our Hours</h3>
                <p class="text-gray small">Monday: 9:00am - 6:00pm <br> Tuesday: 9:00am - 6:00pm <br> Wednesday: 9:00am - 6:00pm <br> Thursday: 9:00am - 6:00pm <br> Friday: 9:00am - 6:00pm <br> Saturday: 10:00am - 4:00pm <br> Sunday: Closed <br><br> After Hours Appointment Available</p>
            </div>
            <div class="col-md-3 p-3">
                <h3 class="font-roboto text-white">Get in touch</h3>
                <p class="text-gray small" style="line-height: 1.5rem;">
                    <span class="pr-2"><i class="fa fa-map-marker"></i></span> 596 Wharncliffe Rd South London, Ontario N6J 2N4 <br>
                    <span class="pr-2"><i class="fa fa-phone"></i></span>
                    416 445 5566
                    <br> 
                    <span class="pr-2 text-primary"><i class="fa fa-envelope"></i></span>
                    <span class="text-primary">sales@gmail.com</span>
                </p>
            </div>
            <div class="col-md-3 p-3">
                <h3 class="font-roboto text-white">More Info</h3>
                <img src="https://i.ibb.co/9y68P48/BBB.png" class="d-inline w-25 mx-1" alt="BBB Accredited Business" />
                <img src="https://i.ibb.co/VDx0S5H/CCA-2018-fixed-344x192.png" class="d-inline w-25 mx-1" alt="Consumer Choice Award 2017" />
                <img src="https://i.ibb.co/VDx0S5H/CCA-2018-fixed-344x192.png" class="d-inline w-25 mx-1" alt="Consumer Choice Award 2018" />
            </div>
        </div>
        
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>