<div class="top-bar w-100">
    <div class="row col-12 m-0 p-0 py-2" style="background: rgb(250,250,250); color: gray">
        <div class="offset-md-8 col-md-2 col-sm-6 col-6 text-center small">
            <i class="fa fa-envelope"></i> &nbsp; sales.ca
        </div>
        <div class="col-md-2 col-sm-6 col-6 text-center small">
            <i class="fa fa-phone"></i>&nbsp; +1 519 686 0499
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
      <a class="navbar-brand font-marcellus font-40 text-center p-0 py-2 pl-5" href="#">Bath Trends <br> <span class="font-montserrat font-20" style="font-weight: 900">REMODELING</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse navbar-right" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link nav-item-custom px-3" style="color: black" href="#about">About us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item-custom px-3" style="color: black" href="#process">Process</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item-custom px-3" style="color: black" href="#gallery">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item-custom px-3" style="color: black" href="#testimony">Testimony</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item-custom px-3" style="color: black" data-toggle="modal" data-target="#exampleModal">Request a Quote</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-item-custom px-3" style="color: black" href="#contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
</div>
<div class="jumbotron jumbotron-custom">
    <div class="head">
        <h1 class="font-roboto white-opacity-50">Want to <span class="text-primary">Reach</span> it</h1>
        <br>
        <a href="#contact">
            <button class="button-contact">
                Contact Us
            </button>
        </a>
    </div>
    
</div>
<script>
  $(document).on('click', 'a[href^="#"]', function (event) {
    event.preventDefault();

    $('html, body').animate({
        scrollTop: $($.attr(this, 'href')).offset().top
    }, 500);
  });
</script>