<div class="col-12 row m-0 p-0 pt-5" id="process">
    <div class="col-12 text-center p-3">
        <h3 class="font-roboto font-weight-bold lead">Process</h3>
        <hr class="w-10 bg-primary my-3 mb-4" />
    </div>
    <div class="col-md-5 p-0 m-0">
        <img src="https://i.ibb.co/2jRckLj/c4affb8ee6449050c7a148e30a8d53c2.jpg" alt="c4affb8ee6449050c7a148e30a8d53c2" class="img-fluid w-100" border="0">
    </div>
    <div class="col-md-7 p-0 m-0">
        <img src="https://i.ibb.co/JFYbKts/2ecab31460a45457cc76274912b6ebc4.jpg" alt="2ecab31460a45457cc76274912b6ebc4" class="img-fluid w-100" border="0">
    </div>
    <div class="process text-center">
        Design Goals - measuring, layout, style and selection of finishes and materials <br>
        Supply - bathroom vanities, fixtures, counter tops, cabinets <br>
        Installation
    </div>
</div>
