<div class=" py-5 px-0" id="testimony">
    <h3 class="font-roboto font-weight-bold lead text-center">Testimonial</h3>
    <hr class="w-10 bg-primary my-3 mb-4" />
    
    <div class="col-12 p-4 px-0 mb-5 bg-light">
        <div class="row col-md-7 px-0 m-0 mx-auto">
            <div class="col-2">
                <img src="https://jsbirdi0001.github.io/portfolio/jatinderSingh.png" style="border-radius: 50%" class="img-fluid" alt="img" />
            </div>
            <div class="col-10">
                <h6 class="text-primary">Jatinder Singh</h6>
                <h6>Home Owner, Home Renovation</h6>
                <br>
                <p class="text-secondary">
                    I found Bath Trends through a Google search. I were looking to replace our kitchen and bathroom. I contacted and got it replaced within 1 month. I am very satisfied with the service and quality of Bath Trends.
                </p>
            </div>
        </div>
    </div>
    
    <div class="col-md-8 row mx-auto p-0 text-center">
        <div class="col-12 small text-left">
            We are proud members of following organizations:
        </div>
        <div class="col-6 p-2" style="overflow:hidden">
            <div class="border p-2">
                <img src="https://i.ibb.co/xXb0W3S/ohba-logo.png" class="height-100" />
                <p class="small text-center">Ontario Home Builders' Association</p>    
            </div>
        </div>
        <div class="col-6 p-2" style="overflow:hidden">
            <div class="border p-2">
                <img src="https://i.ibb.co/Xy3rsRk/Reno-Mark-R.png" class="height-100" />
                <p class="small text-center">Renomark Renovators Mark of Excellence</p>    
            </div>        
        </div>
        <div class="col-6 p-2" style="overflow:hidden">
            <div class="border p-2">
                <img src="https://i.ibb.co/b5NScRx/th.jpg" class="height-100" />
                <p class="small text-center">National Kitchen and Bath Association</p>    
            </div>
        </div>
        <div class="col-6 p-2" style="overflow:hidden">
            <div class="border p-2">
                <img src="https://i.ibb.co/rfGQyL6/unnamed.gif" class="height-100" />
                <p class="small text-center">Greater Toronto Builders Association</p>    
            </div>
        </div>
    </div>
</div>

<!--<img src="https://i.ibb.co/xXb0W3S/ohba-logo.png" alt="ohba-logo" border="0"></a>-->
<!--<img src="https://i.ibb.co/Xy3rsRk/Reno-Mark-R.png" alt="Reno-Mark-R" border="0"></a>-->
<!--<img src="https://i.ibb.co/b5NScRx/th.jpg" alt="th" border="0"></a>-->
<!--<img src="https://i.ibb.co/rfGQyL6/unnamed.gif" alt="unnamed" border="0"></a>-->